<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrum Management{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Scrum Management App</h1>
        <nav style="display: flex; justify-content: space-between;">
            <div>
                <a href="{% url 'base' %}">Inicio</a>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <span>Bienvenido, {{ user.username }}!</span>
                    <form style="float: right;" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="boton-cerrar-sesion" type="submit">Cerrar Sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'register' %}">Registrarse</a>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Scrum Management App</p>
    </footer>
</body>
</html>
