<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrum Management{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Scrum Management App</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'base' %}">Inicio</a>
                <a href="{% url 'tareas' %}">Tareas</a>
                <a href="{% url 'sprints' %}">Sprints</a>
                <a href="{% url 'epicas' %}">Épicas</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Scrum Management App</p>
    </footer>
</body>
</html>
